<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Openbuk</title>
    <link rel="stylesheet" href="../static/css/style.css">
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <a href="/">Openbuk</a>
</nav>

<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="padding: 0px; margin-bottom: 30px;">
                <div class="openbuk-left-about">
                    <h1>Tentang Openbuk</h1>
                </div>
            </div>

            <div class="col-md-6" style="padding: 0px;">
                <div class="openbuk-right-about">
                    <div class="listabout"> 
                        <div class="aboutme">
                            <p>Openbuk adalah sebuah aplikasi untuk media pembelajaran bahasa 
                                pemrograman dengan materi-materi bahasa Indonesia, sehingga 
                                lebih mudah di pahami dan di pelajari.
                                <br><br>
                                Sulitnya seseorang mempelajari bahasa pemrograman 
                                adalah karena faktor bahasa yang tidak di mengerti. 
                                maka dari itu Openbuk hadir untuk membuat siapapun bisa belajar 
                                bahasa pemrograman menjadi jauh lebih mudah.
                                <br><br>
                                Ayo bantu Openbuk membangun Indonesia 
                                menjadi lebih baik lagi dengan internet.</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>


<div class="myhero-about text-center">
        <h2>Gunakan aplikasi <span>Openbuk</span> sekarang juga.</h2>
    <div class="godown">
        <button class="btnOpenbuk">
            Download
        </button>
    </div>
</div>



<div class="footer-openbuk">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Career -->
            </div>
            <div class="col">
                <p>© 2018 OPENBUK</p> 
            </div>
        </div>
    </div>
</div>


</body>
</html>